// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-jaguar: #1D1C29;
$color-ottoman: #D0E4BB;
$color-red: #FF0000;
$color-orange-red: #fa5320;
$color-mango-tango: #F37600;
$color-apple: #5BC94E;
$color-fuel-yellow: #CE8E35;
$color-aztec: #1F3834;
$color-linen: #FCF0E5;
$color-silver: #BABABA;
$color-grey: #7D7D7D;
$color-deep-teal: #213F3B;
$color-dark-apple: #c0e89d;
$color-orange-red-dark: #fc3b00;
$color-mango-tango-dark: #ff9100;
$color-apple-dark: #1dfd04;

// Typography
$ff-main: "PTSans", "Arial", sans-serif;
$ff-secondary: "Arsenal", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
