.custom-input {
  position: relative;
  $root: &;

  &__field {
    border: 1px solid transparent;
    background-color: rgba($color-jaguar, .05);
    border-radius: 200px;
    font-size: 17px;
    line-height: 1.5;
    padding: 15px 20px;
    width: 100%;
    outline: none;
    transition: border $transition-300;

    &:focus-visible,
    &:hover {
      border: none;
      border: 1px solid rgba($color-jaguar, 0.5);
    }

    &::placeholder {
      color: rgba($color-jaguar, 0.3);
    }
  }

  &--error {
    border: 1px solid $color-red;
    border-radius: 200px;
  }
}
