.social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 25px;

  &__link {
    display: flex;
    width: 24px;
    height: 20px;
    color: rgba($color-white, 0.3);
    transition: color $transition-300;

  &:focus-visible,     
  &:hover {
    color: rgba($color-white, 1.3);
  }
  }

  &__icon {
    width: 24px;
    height: 20px;
  }
}
